body {
background-color:hsl(185, 75%, 39%);
font-family: 'Kumbh Sans';
font-size: 18px;
width: 100%;
height: 100%;
display: flex;

}

hr {
    color:hsl(0, 0%, 59%);
    opacity:0.2;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 100%;
    width:375px;
    height: auto;
    border-radius: 15px;
    background-color: white;
}

.container {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-pattern-top {

}

.bg-pattern-bottom {

}

.bg-pattern-card {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.profile-pic {
    border-radius: 50%;
    border: 3px solid white;
}

.name  {
    color: hsl(229, 23%, 23%);
}

.age {
    color:hsl(0, 0%, 59%)
}

.city {
    color: hsl(0, 0%, 59%)
}

.Stats {
display: flex;
justify-content: space-evenly;
margin: 20px;
color: hsl(229, 23%, 23%)
}

.info {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    color: hsl(0, 0%, 59%);
    font-size: 12px;
}

.followers {

}
.likes {
  
}

@media screen and (min-width: 1440px) {
    .background-top {
      background-position: calc(0% - 296px) calc(0% - 512px);
    }
    .background-bottom {
      background-position: calc(100% - -240px) calc(100% - -437px);
    }
  }