body {
background-color:hsl(185, 75%, 39%);
font-family: 'Kumbh Sans';
font-size: 18px;
margin: 0;
}

hr {
    color:hsl(0, 0%, 59%);
    opacity:0.2;
}

ul {
    list-style: none;
    text-align: center;
    margin-right: 3.5em;
}

li{
    display: inline;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width:375px;
    height: auto;
    border-radius: 15px;
    background-color: white;
    text-align: center;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-pattern-top {

}

.bg-pattern-bottom {

}

.bg-pattern-card {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.profile-pic {
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -3.5rem;
}

.name  {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
}

.age {
    color:hsl(0, 0%, 59%);
    padding-left: 5px;
}

.city {
    color: hsl(0, 0%, 59%);
    margin-top:-10px;
}

.Stats {
display: flex;
justify-content: space-around;
margin-top: 20px;
color: hsl(229, 23%, 23%);
margin-left: 20px;
}

.info {
    display: flex;
    justify-content: space-around;
    color: hsl(0, 0%, 59%);
    font-size: 12px;
    margin-bottom: 40px;
    margin-top: -10px;
}

.likes {
    padding-right: 10px;
}

.photos {
    margin-right:15px;
}

.followers {
    margin-left: 10px;
}

@media screen and (min-width: 1440px) {
    .background-top {
      background-position: calc(0% - 296px) calc(0% - 512px);
    }
    .background-bottom {
      background-position: calc(100% - -240px) calc(100% - -437px);
    }
  }