body {
background-color:hsl(185, 75%, 39%);
font-family: 'Kumbh Sans';
font-size: 18px;
width: 100%;
height: 100%;
overflow: hidden;
}

hr {
    color:hsl(0, 0%, 59%);
    opacity:0.2;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 100%;
    width:375px;
    height: auto;
    position: absolute;
    left:520px;
    top: 200px;
    border-radius: 15px;
    background-color: white;
}
.bg-pattern-top {
    position: relative;
    bottom:500px;
    left:-300px;
}

.bg-pattern-bottom {
    position: relative;
    top:-550px;
    left:600px

}

.bg-pattern-card {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.profile-pic {
    border-radius: 50%;
    border: 3px solid white;
    position: relative;
    left: 135px;
    top: -50px;
}

.name  {
    position: relative;
    top: -20px;
    left: 0px;
    color: hsl(229, 23%, 23%);
}

.age {
    position: relative;
    top: -20px;
    left: 10px;
    color:hsl(0, 0%, 59%)
}

.city {
    position: relative;
    top: -10px;
    left: 160px;
    color: hsl(0, 0%, 59%)
}

.Stats {
display: flex;
justify-content: space-evenly;
margin: 20px;
color: hsl(229, 23%, 23%)
}

.info {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    color: hsl(0, 0%, 59%);
    font-size: 12px;
    position: relative;
    top:-10px;
    left:0px;
}

.followers {
    position: relative;
    left:-5px;
}
.likes {
    position: relative;
    left:-10px;
}

