body {
background-color:hsl(185, 75%, 39%)
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 100%;
    width:400px;
    height: auto;
    position: absolute;
    left:500px;
    top: 200px;
}
.bg-pattern-top {
    position: relative;
    bottom:500px;
    left:-300px;
}

.bg-pattern-bottom {
    position: relative;
    top:-550px;
    left:600px

}