body {
background-color:hsl(185, 75%, 39%)
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 100%;
    width:375px;
    height: auto;
    position: absolute;
    left:750px;
    top: 300px;
}

.bg-pattern-top {
    position: relative;
    left: -170px;
    top: -300px;
}

.bg-pattern-bottom {
    position: absolute;
    left:770px;
    top: 510px;
}